<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<la>id: </la><tr th:text="${user.getId()}">id</tr>
<br/>
<la>name: </la> <tr th:text="${user.getName()}">name</tr>
<br/>
<la>age: </la><tr th:utext="${user.getAge()}">age</tr>
<br/>
<!--<a th:href="@{/{id}/edit(id=${user.getId()})}">Update</a>-->
<form th:method="GET" th:action="@{/{id}/edit(id=${user.getId()})}">
    <input type="submit" value="Update"/>
</form>

<form th:method="DELETE" th:action="@{/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>


</body>
</html>